$font-size = 50px;
$width = 1005px;

.containerWrap {
  margin: 0 auto;
  width: $width;
}
.stark {
  margin: 0;
  width: 100%;
  color: blue;
  padding-top: 80px;
  line-height: 1.15;
  text-align: center;
  font-size: $font-size;
}


