.headerWrapper {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index 99;
  box-shadow: 0 0px 11px -4px #000;
}
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding 0;

    .signIn{
      color:#1878f3;
      border-color: #1878f3;
    }
    .left{
      display flex;
      justify-content center;
      align-items center;
      img{
        width 100px;
      }
    }
}

